<h1>Places</h1>
<h3>Add a new place:</h3>
<form action='/places' method='post'>
  <label for='new-place'>Place:</label>
  <input id='new-place' name='new-place' type='text'>

  <label for='notes'>Notes:</label>
  <input id='notes' name='notes' type='text'>

  <label for='picture'>Picture url:</label>
  <input id='picture' name='picture' type='text'>

  <button type='submit'>Add Place</button>
</form>
